@charset "UTF-8";
* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Microsoft JhengHei", "微軟正黑體", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar-toggler__venus {
  border-width: 0;
}

.kv__pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .kv__pc {
    display: block;
  }
}
.kv__mobile {
  display: block;
}
@media only screen and (min-width: 768px) {
  .kv__mobile {
    display: none;
  }
}
.kv__header {
  height: 90px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .kv__header {
    height: 185px;
    padding-top: 40px;
  }
}
.kv__footer {
  background-color: #FFFFFF;
}

.navbar__custom--height {
  padding: 0 20px 0 20px;
  background-color: #FFFFFF;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .navbar__custom--height {
    padding: 35px 40px 0 30px;
  }
}
.navbar__customBrand--logo {
  width: 150px;
  height: 30px;
}
@media only screen and (min-width: 768px) {
  .navbar__customBrand--logo {
    width: 300px;
    height: 55px;
  }
}
.navbar-collapse {
  order: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .navbar-collapse {
    order: 2;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.navbar .social__wrapper {
  order: 2;
}
@media only screen and (min-width: 768px) {
  .navbar .social__wrapper {
    order: 3;
  }
}

@media only screen and (min-width: 768px) {
  .social__wrapper .order {
    position: absolute;
    right: 50px;
    top: 125px;
  }
  .social__wrapper .order .btn__custom--gray {
    padding: 8px 35px;
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #000000;
  }
  .social__wrapper .order .btn__custom--gray:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}
.social__wrapper--footer {
  padding: 3rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .social__wrapper--footer {
    padding: 40px 40px 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.social__wrapper--footer .social__Icon {
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .social__wrapper--footer .social__Icon {
    order: 2;
    width: 210px;
    display: flex;
    justify-content: flex-end;
  }
}
.social__tel {
  order: 2;
  flex-grow: 1;
}
.social__tel--free {
  padding: 8px 0 40px;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .social__tel--free {
    order: 1;
    padding: 8px 0 10px;
    text-align: left;
    letter-spacing: 0.125rem;
    border-bottom: 2px solid #F2F2F2;
  }
}
.social__shop {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.125rem;
}
@media only screen and (min-width: 768px) {
  .social__shop {
    padding: 30px 0 0;
    flex-direction: row;
  }
}
.social__shop p {
  letter-spacing: 0;
}
@media only screen and (min-width: 768px) {
  .social__shop p {
    letter-spacing: 2px;
  }
}
.social__shop p.social__shop--title {
  line-height: 1.2;
  padding-top: 10px;
}
.social__shop--premium {
  width: 100%;
  padding-right: 30px;
}
@media only screen and (min-width: 768px) {
  .social__shop--premium {
    width: 40%;
  }
}
.social__shop--branch {
  width: 100%;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .social__shop--branch {
    width: 60%;
  }
}
.social__shop--branch--group {
  display: flex;
  flex-direction: column;
}
.social__shop--branch--group p {
  width: 100%;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .social__shop--branch--group {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social__shop--branch--group p {
    width: 50%;
    padding-right: 25px;
    font-size: 16px;
    white-space: nowrap;
  }
}
.social__shop--title {
  font-weight: 900;
}
.social__Icon {
  display: none;
}
@media only screen and (min-width: 768px) {
  .social__Icon {
    display: inline-block;
  }
}
.social__Icon a {
  padding: 8px 10px;
  font-size: 1.4rem;
  line-height: 1;
  color: #80858A;
}
.social__Icon a :hover {
  color: #333333;
}
@media only screen and (min-width: 768px) {
  .social__Icon a {
    height: 40px;
  }
}

.custom__navBar .nav-item {
  display: flex;
  align-items: center;
}
.custom__navBar .nav-item span {
  display: none;
}
@media only screen and (min-width: 768px) {
  .custom__navBar .nav-item span {
    display: inline;
    padding-bottom: 2px;
  }
}
.custom__navLink {
  width: 100%;
  text-align: center;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .custom__navLink {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 0.975rem;
    color: #80858A;
  }
  .custom__navLink :hover {
    color: #333333;
  }
}

.btn__custom {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-family: "Arial", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.btn__custom--gray {
  background-color: #E6E6E6;
  color: #000000;
}
.btn__custom--gray:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn__custom--grayBorder {
  padding: 0.5rem 3.2rem;
  font-family: 微軟正黑體;
  font-size: 1.3125rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  border-radius: 0.475rem;
  background-color: #ffffff;
  color: #000000;
}
.btn__custom--grayBorder:hover {
  background-color: #000000;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .btn__custom--grayBorder {
    padding: 0.8rem 2.5rem;
    font-size: 1.1125rem;
    background-color: #DBDBDB;
    border: 1px solid #FFFFFF;
    border-radius: 1rem;
  }
}
.btn__custom--white {
  padding: 0.5rem 3.2rem;
  font-family: 微軟正黑體;
  font-size: 1.3125rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  border-radius: 0.475rem;
  background-color: #ffffff;
  color: #333333;
}
.btn__custom--white:hover {
  background-color: #333333;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .btn__custom--white {
    padding: 1rem 3.2rem;
    border: 1px solid #000000;
    border-radius: 1rem;
  }
}

.item-header {
  margin-left: 30px;
  margin-right: 30px;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .item-header {
    margin-left: 120px;
    padding: 6rem 0 4rem;
    align-items: flex-start;
  }
}
.item-header--form {
  margin-left: 30px;
  padding: 2rem 0 0.3125rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .item-header--star {
    position: absolute;
    padding-bottom: 0;
    margin-left: 0;
    padding-top: 5.3rem;
    z-index: 10;
  }
}
@media screen and (max-width: 1240px) {
  .item-header--star {
    position: static;
    margin-left: 120px;
  }
}
@media screen and (max-width: 767px) {
  .item-header--star {
    margin-left: 30px;
  }
}
.item-header .title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Arial;
}
@media only screen and (min-width: 768px) {
  .item-header .title {
    font-size: 1.625rem;
    font-weight: 700;
    font-size: 4rem;
  }
}
.item-header .subText {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.075em;
}
@media only screen and (min-width: 768px) {
  .item-header .subText {
    font-size: 1rem;
  }
}
.item-header .formTitle {
  font-size: 1.625rem;
  font-weight: 700;
  font-family: Arial;
  letter-spacing: 0.025em;
}
@media only screen and (min-width: 768px) {
  .item-header .formTitle {
    font-size: 2rem;
  }
}
.item-header .formSubText {
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: 0.075em;
}
@media only screen and (min-width: 768px) {
  .item-header .formSubText {
    font-size: 1rem;
  }
}

.item-footer {
  padding: 2.5rem 0 2.5rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .item-footer {
    padding: 3rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .item-footer__exclusive {
    padding: 3rem 0 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .item-footer--venus {
    padding: 3rem 0 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .item-footer--service {
    padding: 3rem 0 5rem;
  }
}
.item-footer--pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .item-footer--pc {
    display: block;
  }
}
.item-footer .circleArrow {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../images/circle-arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.item-footer .circleArrow:hover {
  background-image: url("../images/circle-arrow-bg-white.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .item-footer .circleArrow {
    width: 50px;
    height: 50px;
  }
}

.exclusive {
  width: 100%;
}
.exclusive__wrapper {
  display: flex;
  flex-direction: column;
}
.exclusive__wrapper--gutter {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media only screen and (min-width: 768px) {
  .exclusive__group {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }
}
.exclusive__group--noPadding {
  max-width: 100%;
  width: 100%;
}
.exclusive__group--noPadding .exclusive__picture {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .exclusive__group--noPadding .exclusive__picture {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .exclusive__group--noPadding .exclusive__figcaption {
    width: 44%;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  .exclusive__group--noPadding .exclusive__figcaption--group {
    max-width: 600px;
    width: 100%;
  }
}
.exclusive__group--mobile {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .exclusive__group--mobile {
    display: none;
  }
}
.exclusive__group--pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .exclusive__group--pc {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    max-width: 1595px;
    width: 95%;
  }
  .exclusive__group--pc.noPadding {
    max-width: 100%;
    width: 100%;
  }
}
.exclusive__group img.mobile__word-4 {
  position: absolute;
  top: 35%;
  right: 15px;
  width: 80px;
  height: auto;
}
.exclusive__group img.pc__word-1 {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 216px;
  height: auto;
}
.exclusive__group img.pc__word-2 {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 170px;
  height: auto;
}
.exclusive__group img.pc__word-3 {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 170px;
  height: auto;
}
.exclusive__group img.pc__word-4 {
  position: absolute;
  top: 38%;
  right: 12%;
  width: 170px;
  height: auto;
}
.exclusive__picture {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .exclusive__picture {
    width: 65%;
  }
  .exclusive__picture img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    width: 100%;
    height: 100%;
  }
}
.exclusive__figcaption {
  height: 335px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2.5rem 1.5rem 2rem;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .exclusive__figcaption {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 2rem 3rem;
    width: 35%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.exclusive__figcaption--group {
  margin-left: 40px;
  margin-right: 40px;
}
@media only screen and (min-width: 768px) {
  .exclusive__figcaption--group {
    max-width: 400px;
    width: 100%;
  }
}
.exclusive__figcaption--number {
  width: 50px;
  height: 79px;
}
@media only screen and (min-width: 768px) {
  .exclusive__figcaption--number {
    width: 60px;
    height: 95px;
  }
}
.exclusive__figcaption--gray {
  background-color: #EEEEEE;
}
.exclusive__figcaption--noPadding {
  padding: 0.5rem;
}
.exclusive__figcaption img.exclusive__number {
  width: 60px;
  height: auto;
}
.exclusive__figcaption div.spec {
  display: flex;
  flex-direction: column;
}
.exclusive__figcaption div.spec--padding {
  padding-left: 0.6rem;
}
.exclusive__figcaption .title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Arial;
  letter-spacing: 0.025em;
}
@media only screen and (min-width: 768px) {
  .exclusive__figcaption .title {
    font-size: 1.7rem;
  }
}
.exclusive__figcaption .title--marginBottom {
  margin-bottom: 2rem;
}
.exclusive__figcaption .subTitle {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: Arial;
  letter-spacing: 0.25rem;
}
@media only screen and (min-width: 768px) {
  .exclusive__figcaption .subTitle {
    padding-top: 30px;
    font-size: 1.3125rem;
  }
}
.exclusive__figcaption .subTitle a {
  padding-left: 0.5rem;
  text-decoration: none;
  color: #333333;
}
.exclusive__figcaption .subTitle a:hover {
  color: #666666;
}
.exclusive__figcaption .discount {
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 900;
  font-family: Arial;
  letter-spacing: 0.025em;
}
@media only screen and (min-width: 768px) {
  .exclusive__figcaption .discount {
    font-size: 1.4rem;
  }
}
.exclusive__figcaption .discount--gray {
  color: #b9b8b6;
}

.appoint__wrapper,
.airfit__wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .appoint__wrapper,
.airfit__wrapper {
    flex-direction: row;
  }
}
.appoint__picture,
.airfit__picture {
  width: 100%;
  height: 295px;
}
@media only screen and (min-width: 768px) {
  .appoint__picture,
.airfit__picture {
    width: 50%;
    height: auto;
  }
}
.appoint__picture--autoHeight,
.airfit__picture--autoHeight {
  height: auto;
}
.appoint__picture img,
.airfit__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.appoint__picture--pc,
.airfit__picture--pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .appoint__picture--pc,
.airfit__picture--pc {
    display: block;
  }
}
.appoint__picture--mobile,
.airfit__picture--mobile {
  display: block;
}
@media only screen and (min-width: 768px) {
  .appoint__picture--mobile,
.airfit__picture--mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .appoint__infoGroup,
.airfit__infoGroup {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .appoint__infoGroup .item-footer,
.airfit__infoGroup .item-footer {
    text-align: right;
  }
  .appoint__infoGroup .item-footer__form,
.airfit__infoGroup .item-footer__form {
    text-align: left;
  }
  .appoint__infoGroup .item-footer image,
.airfit__infoGroup .item-footer image {
    width: 60px;
  }
}
.appoint__logo,
.airfit__logo {
  width: 230px;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .appoint__logo,
.airfit__logo {
    width: 320px;
    height: auto;
  }
}
.appoint__logo--word,
.airfit__logo--word {
  width: 65px;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .appoint__logo--word,
.airfit__logo--word {
    width: 65px;
    height: auto;
  }
}
.appoint__form,
.airfit__form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .appoint__form,
.airfit__form {
    padding-top: 140px;
    max-width: 665px;
  }
}
.appoint__info,
.airfit__info {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 70%;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .appoint__info,
.airfit__info {
    padding-top: 140px;
    max-width: 622px;
  }
}
.appoint__info p,
.airfit__info p {
  font-size: 0.875rem;
  letter-spacing: 0.075em;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .appoint__info p,
.airfit__info p {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.15rem;
  }
}
.appoint__info p.title,
.airfit__info p.title {
  padding-top: 2.5rem;
  padding-bottom: 0rem;
  font-size: 1.0625rem;
}
@media only screen and (min-width: 768px) {
  .appoint__info p.title,
.airfit__info p.title {
    padding-top: 4rem;
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: 0.15rem;
  }
}
.appoint__slogan,
.airfit__slogan {
  margin: 3rem 0 0;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  border-width: 1px 0;
  border-color: #999999;
  border-style: solid;
}
@media only screen and (min-width: 768px) {
  .appoint__slogan,
.airfit__slogan {
    margin: 5rem 0 0;
    width: 100%;
  }
}
.appoint__slogan p,
.airfit__slogan p {
  margin-bottom: 0rem;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
}
.appoint__slogan p.title,
.airfit__slogan p.title {
  margin-bottom: 0.5rem;
  padding-top: 0;
  font-size: 1.625rem;
}
@media only screen and (min-width: 768px) {
  .appoint__slogan p.title,
.airfit__slogan p.title {
    font-weight: 300;
  }
}
.appoint__slogan p.subTitle,
.airfit__slogan p.subTitle {
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
}
.service__item {
  padding: 0 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  .service__item {
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
  }
}
.service__info {
  width: 50%;
  padding-top: 3rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .service__info {
    padding-top: 5rem;
    width: 25%;
  }
}
.service__info img {
  width: 120px;
}
@media only screen and (min-width: 768px) {
  .service__info img {
    width: 150px;
  }
}
.service__info p {
  margin-bottom: 0.3rem;
  margin-top: 2.2rem;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.075em;
  font-weight: 900;
}

.s1 {
  padding: 0;
  text-align: center;
  background-color: #D4D6D5;
}
.s1 .content {
  padding-top: 3.125rem;
  padding-bottom: 2.125rem;
}
.s1 p {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 700;
}
.s1 p.title {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.4em;
  font-weight: 900;
}
.s1 p.subTitle {
  margin-bottom: 1.875rem;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: Roboto, Arial;
  font-weight: bold;
}
.s1 .airfit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 80px;
  background-color: #000000;
}
.s1 .airfit .img--airfit {
  width: 160px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.s1 .airfit .img--airfit img {
  width: 100%;
  height: 100%;
}

.s2 {
  background-color: #EEEEEE;
}
.s2 .promote {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 30px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .s2 .promote {
    padding: 50px 0 40px;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.s2 .promote__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .s2 .promote__wrapper {
    width: 60%;
  }
}
.s2 .promote__item {
  flex-grow: 1;
}
.s2 .promote__item--left {
  padding-left: 0.2rem;
}
.s2 .promote__item p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding-left: 1rem;
}
@media only screen and (min-width: 768px) {
  .s2 .promote__item p {
    font-size: 1rem;
    line-height: 1.85;
  }
}
.s2 .promote__item p.title {
  font-size: 1.1rem;
  line-height: 1;
  border-left: 4px solid #000000;
  padding-left: calc(1rem - 4px);
  font-weight: 900;
}
.s2 .promote__note {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-right: 0.4rem;
  font-size: 0.7rem;
  line-height: 1.5;
  font-weight: 300;
  color: #828282;
}
@media only screen and (min-width: 768px) {
  .s2 .promote__note {
    font-size: 0.875rem;
  }
}
.s2 .promote__note ol {
  margin-bottom: 0;
  padding-left: 1rem;
}

.s3 {
  display: flex;
  flex-direction: column;
  background-color: #DBDBDB;
}
.s3 .needsWrap {
  margin-bottom: 1rem;
}
.s3 .needsWrap .label-custom {
  font-size: 0.925rem;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .s3 .needsWrap .label-custom {
    font-size: 1.125rem;
  }
}
.s3 .kv-formbox {
  padding: 40px 30px 5px;
}
@media only screen and (min-width: 768px) {
  .s3 .kv-formbox {
    padding: 100px 30px 100px;
  }
}
.s3 .form-column {
  padding-bottom: 0.6rem;
}
@media only screen and (min-width: 768px) {
  .s3 .form-column {
    padding-bottom: 1rem;
  }
}
.s3 .form-column .form-select {
  color: #666666;
  font-size: 0.925rem;
}
@media only screen and (min-width: 768px) {
  .s3 .form-column .form-select {
    font-size: 1.125rem;
  }
}
.s3 .form-column .field-custom {
  margin-bottom: 0.1rem;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: #FFFFFF;
  background-color: transparent;
}
.s3 .form-column .field-custom::-moz-placeholder {
  color: #666666;
  font-size: 0.925rem;
}
.s3 .form-column .field-custom:-ms-input-placeholder {
  color: #666666;
  font-size: 0.925rem;
}
.s3 .form-column .field-custom::placeholder {
  color: #666666;
  font-size: 0.925rem;
}
@media only screen and (min-width: 768px) {
  .s3 .form-column .field-custom::-moz-placeholder {
    font-size: 1.125rem;
  }
  .s3 .form-column .field-custom:-ms-input-placeholder {
    font-size: 1.125rem;
  }
  .s3 .form-column .field-custom::placeholder {
    font-size: 1.125rem;
  }
}
.s3 .form-column .field-custom--small {
  width: calc(100% - 2.4rem);
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.025em;
}
@media only screen and (min-width: 768px) {
  .s3 .form-column .field-custom--small {
    font-size: 1rem;
  }
}
.s3 .form-column .field-custom--small a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #333333;
}
.s3 .form-column .field-custom--small a:hover {
  color: #666666;
}

.s4 {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

.s5 {
  width: 100%;
  background-color: #000000;
}

.s6 {
  background-color: #EEEEEE;
}
.s6 .venus {
  width: 100%;
  overflow: hidden;
}

.s7 {
  background-color: #EEEEEE;
  border-top: 1px solid #000000;
}

.s8 {
  padding-bottom: 4rem;
  background-color: #EEEEEE;
  border-top: 1px solid #000000;
}
@media only screen and (min-width: 768px) {
  .s8 .star {
    max-width: 1150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.s8 .star-text {
  font-size: 1.05rem;
  padding-top: 0.8rem;
  letter-spacing: 0.0875rem;
}
.s8 .star-text a {
  padding-left: 10px;
  text-decoration: none;
  color: #80858A;
}
.s8 .star-text a :hover {
  color: #333333;
}
.s8 .star-text a i {
  font-size: 0.875rem;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .s8 .star-text a {
    height: 40px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper__venus {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .swiper__venus {
    width: 120%;
    min-width: 366px;
    margin-left: -10%;
  }
}
@media only screen and (min-width: 768px) {
  .swiper__star {
    max-width: calc(1140px - 30%);
    width: 100%;
    padding-top: 5.3rem;
    margin-left: 30%;
    margin-right: auto;
  }
}
@media screen and (max-width: 1240px) {
  .swiper__star {
    width: 80%;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .swiper__star {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper-slide--venus {
  opacity: 0.5;
  transition: all 0.3s ease;
}
.swiper-slide--venus .venus__figcaption {
  visibility: hidden;
  padding-left: 1rem;
  padding-top: 2rem;
}
.swiper-slide--venus.swiper-slide-active {
  opacity: 1;
  border-left: 2px solid #000000;
  color: #000000;
  z-index: 2;
}
.swiper-slide--venus.swiper-slide-active .venus__figcaption {
  visibility: visible;
  padding-left: 1rem;
  padding-top: 2rem;
}
.swiper-slide--venus.swiper-slide-active .venus__figcaption .title {
  margin-bottom: 0;
  font-size: 1.375rem;
  font-weight: 900;
}
.swiper-slide--venus.swiper-slide-active .venus__figcaption .subTitle {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide img.exclusive__number {
  width: 60px;
  height: auto;
}
.swiper-slide img.mobile__word-1 {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 130px;
  height: auto;
}
.swiper-slide img.mobile__word-2 {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 100px;
  height: auto;
}
.swiper-slide img.mobile__word-3 {
  position: absolute;
  top: 40%;
  left: 25px;
  width: 100px;
  height: auto;
}

.swiper-pagination--exclusive {
  position: initial;
  padding-top: 5px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination--venus {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.swiper-pagination--star {
  position: initial;
  text-align: right;
}

.swiper-button-next--venus {
  display: none;
  top: auto;
  bottom: 108px;
}
.swiper-button-next--venus::after {
  font-size: 2rem;
  color: #787878;
}
@media screen and (min-width: 1280px) {
  .swiper-button-next--venus {
    display: flex;
    right: calc(40% - 20px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .swiper-button-next--venus {
    display: flex;
    right: calc(30% + 20px);
  }
}

.swiper-button-prev--venus {
  display: none;
  top: auto;
  bottom: 108px;
}
.swiper-button-prev--venus::after {
  font-size: 2rem;
  color: #787878;
}
@media screen and (min-width: 1280px) {
  .swiper-button-prev--venus {
    display: flex;
    left: calc(40% - 20px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .swiper-button-prev--venus {
    display: flex;
    left: calc(30% + 20px);
  }
}

.fontThin {
  font-weight: 400;
}/*# sourceMappingURL=custom.css.map */