/* Show it is fixed to the top */
body {
  min-height: 75rem;
  /* padding-top: 5.5rem; */
  padding-top: 90px;
  
}
@media only screen and (min-width: 960px) {
  body {
    padding-top: 185px;
  }
}
